:root {
    --gap: 5px;
    --trans-speed: 0.5s;
    --border-radius: 10px;
    --scroolbar-with: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    border: 2px solid lightgray;

    &>* {
        padding: var(--gap);
        margin: var(--gap);
    }

    .header {
        display: inline;
        display: flex;
    }

    .footer {
        display: inline;
        display: flex;
    }

    .main {
        display: flex;
        flex: 1;
        min-height: 10vh;
        padding: 0px;
        gap: var(--gap);
    }

    .content {
        flex-grow: 1;
    }

    .scroll {
        overflow-y: auto;
    }
}

.centerContent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;

    .boxCenter {
        max-width: 200px;
        margin: 4px;
    }

}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerMenu {
    display: grid;
    grid-template-columns: 4vw auto;
    align-items: center;
}

.menu {
    .menuItem {
        display: inline;
        font-size: 3vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        color: black;
        border-radius: 5px;
        /* top/bottom left/rigth */
        padding: 3px 6px;
        /* ellipsis*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: white;
            background-color: black;
        }
    }

    a {
        display: block;
        text-decoration: none;
    }

    .active {
        color: dodgerblue !important;
    }
}

.imageFrame {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 6px;
    margin: 10px;

    &:hover {
        scale: 1.05;
        transition: var(--trans-speed);
        border-radius: 10px;
    }

    transition: var(--trans-speed);
}

.siteIcon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.75vw;
    height: 3.75vw;
}

@media (min-width : 1100px) {
    .menu {
        .menuItem {
            font-size: 33px;
        }
    }

    .headerMenu {
        grid-template-columns: 45px auto;
    }

    .siteIcon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .centerContent {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .centerContent {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:700px) {
    .centerContent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .centerContent {
        grid-template-columns: repeat(2, 1fr);
    }
}

::-webkit-scrollbar {
    border-radius: var(--border-radius);
    width: var(--scroolbar-with);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}